<!--Date: 7/19/25
Adapted From
https://www.geeksforgeeks.org/web-tech/express-js-res-render-function/
Learned about render and using locals for home  !-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Tracker</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/login.css'>
    <script type="text/javascript" src="validation.js" defer></script>
</head>
<body>
    <header>
        <h1>Job Tracker</h1>
        <nav>
            <a href="/home">Home</a>
            <a href="/">Login</a>
            <a href="applications.html">Applications</a>
            <a href="profile.html">Profile</a>
            <a href="contacts.html">Contacts</a>
            <a href="skills.html">Skills</a>
            <a href="/job">Jobs</a>
        </nav>
    </header>
    
    <main>
        <h2>Welcome to your dashboard {{firstname}}</h2>
        <section>
            <h3>Applications</h3>
            </section>
            <article></article>
            </main>
     
    <footer>
        <p>&copy; 2025 Stephan Gonzales, Richard Le, Kevin Tang.</p>
    </footer>




</body>
</html>
